table {
  border: 0px;
  border-spacing: 0px;
}
tr {
  width: 560px;
  height: 70;
}
td {
  background-color: tan;
  text-align: center;
  padding: 0px;
}

td.noPiece {
  background-color: saddlebrown;
}

svg.redPiece {
  fill: red;
  stroke: white;
  display: block;
}

svg.blackPiece {
  fill: black;
  stroke: white;
  display: block;
}

input {
  text-align: center;
}
