body {
  background-color: rgba(128, 0, 0, 0.932);
}

table {
  border: 10px solid black;
  border-spacing: 0px;
}
tr {
  width: 560px;
  height: 70;
}
td {
  background-color: tan;
  text-align: center;
  padding: 0px;
}

td.noPiece {
  background-color: saddlebrown;
}

svg#selected {
  fill: blue;
}

svg.redPiece {
  fill: red;
  stroke: white;
  display: block;
}

svg.redPieceKing {
  fill: goldenrod;
  stroke-width: 3px;
  stroke: red;
  display: block;
}

svg.blackPiece {
  fill: black;
  stroke: white;
  display: block;
}

svg.blackPieceKing {
  fill: goldenrod;
  stroke-width: 3px;
  stroke: black;
  display: block;
}

input {
  text-align: center;
}
